.form-leccion {
  margin: 1rem 1rem 1rem 0rem;
  .ipt {
    display: block;
    border-radius: 5px;
    border: solid #ebebeb 1px;
    padding: 5px;
  }
}

monaco-editor {
  height: 500px !important;
}
.btn-work{
  background: #FFFFFF;
  border: 1px solid #A6A6A6;
  text-decoration: none;
  padding: .75rem;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: #1D1C1D;
  cursor: pointer;
}
:host ::ng-deep .fr-box.fr-basic.fr-top .fr-wrapper {
  min-height: 350px!important;
}
.line{
  position: relative;
  margin-bottom: 20px;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    border-bottom: 1px solid #C4C4C4;
  }
}
.filter{
  color:#C4C4C4;
  font-weight: 400;
  font-family: sans-serif;
  
}
.btn-outline{
  border: none;
  color: #3e9be7;
  font-weight: 400;
  cursor: pointer;
  padding: .75rem;
  font-size: 16px;
  text-decoration: none;
}