<form class="ipt" [formGroup]="form" (ngSubmit)="create()">
  <aw-wizard>
    <aw-wizard-step stepTitle="Paso 1">
      <input type="text" placeholder="Nombre lección" [formControl]="form.controls.nombre">
      <input type="text" placeholder="Descripción lección" [formControl]="form.controls.descripcion">
      <div id="contenido" [froalaEditor]="froalaOptions" [(froalaModel)]="new_lesson.contenido"></div>
      <button type="button" awNextStep>Siguiente</button>
    </aw-wizard-step>
    <aw-wizard-step stepTitle="Paso 2" awOptionalStep>
      <input type="text" placeholder="Tiempo límite" [formControl]="form.controls.submission.controls.cpu_time_limit">

  	  <input type="text" placeholder="Datos de entrada" [formControl]="form.controls.submission.controls.stdin_real">

  	  <ngx-monaco-editor [options]="monacoOptions" [formControl]="form.controls.submission.controls.expected_output"></ngx-monaco-editor>

  	  <div id="problema" [froalaEditor]="froalaOptions" [(froalaModel)]="new_lesson.problema"></div>
      <button type="button" awPreviousStep>Atrás</button>
      <button type="submit" [disabled]="form.invalid">Crear</button>
    </aw-wizard-step>
  </aw-wizard>
</form>