<form class="ipt" [formGroup]="form" (ngSubmit)="action()">
  <span>Oculto: {{form.controls.oculta.value}}</span>
  <aw-wizard>
    <aw-wizard-step stepTitle="Paso 1">
      <input type="text" placeholder="Nombre lección" [formControl]="form.controls.nombre">
      <input type="text" placeholder="Descripción lección" [formControl]="form.controls.descripcion">
      <div *ngIf="type != 'maratones'" id="contenido" [froalaEditor]="froalaOptions" [(froalaModel)]="new_lesson.contenido"></div>
      <button type="button" awNextStep>Siguiente</button>
    </aw-wizard-step>
    <aw-wizard-step stepTitle="Paso 2" awOptionalStep>
      <input type="text" placeholder="Tiempo límite" [formControl]="form.controls.submission.controls.cpu_time_limit">

  	  <input type="text" placeholder="Datos de entrada" [formControl]="form.controls.submission.controls.stdin_real">

  	  <ngx-monaco-editor [options]="monacoOptions" [formControl]="form.controls.submission.controls.expected_output"></ngx-monaco-editor>

  	  <div id="problema" [froalaEditor]="froalaOptions" [(froalaModel)]="new_lesson.problema"></div>
      <button type="button" awPreviousStep>Atrás</button>
      <button type="submit" [disabled]="form.invalid">{{(lessonId != 'new')? 'Actualizar': 'Crear'}}</button>
    </aw-wizard-step>
  </aw-wizard>
  <button *ngIf="lessonId != 'new'" type="button" (click)="hideLesson()">{{(!form.controls.oculta.value? 'Ocultar': 'Difundir')}} lección</button>
</form>