  <div class="h-100  background" >
    <div class="container  h-100">
      <div class="row align-items-center h-100">
          <div class="col-sm-8 col-lg-8 mx-auto">
              <div class=" login-container ">
                <div class="login-left">
                  <img src="./assets/logo.png" alt="">
                  <span >Zennia</span>
                  <p class="lead">Fomentando el crecimiento y fortalecimiento de la programación competitiva</p>
                </div>
                <form class="ipt" [formGroup]="form" (ngSubmit)="login()">
                  <div class="form-login__user" [ngClass]="{'credential-error': showError }">
                    <label >Correo</label>
                    <input name="email" type="email" placeholder="example@email.com" [formControl]="form.controls.email">
                  </div>
                  <div class="form-login__password" [ngClass]="{'credential-error': showError }">
                    <label >Contraseña</label>
                    <input name="password" type="password" placeholder="Contraseña" [formControl]="form.controls.password">
                  </div>
            
                  <span class="mesage-error" *ngIf="showError">{{showError}}</span>
                
                  <div class="login-btn hand">
                    <button type="submit">Iniciar sesión</button>
                  </div>
                </form>
                <!--<a href="{{urlLoginChaira}}" class="login-btn hand">
                  <img class="" src="./assets/image.png" alt="">
                 <span> Inicia sesión con Chairá</span>
                </a>-->
              </div>
          </div>
      </div>
    </div>
  </div>