<div class="d-flex flex-column  background">
  <div class="header-login d-flex align-items-center justify-content-center">
    <div class="logo d-flex align-items-center">
      <img src="./assets/logo-1.svg" alt="">
      <span>zennia</span>
    </div>
  </div>
  <div class="my-sm-4 my-xs-0 mx-3 d-flex login justify-content-center align-items-center">
    <div class=" login-container d-flex flex-column justify-content-center  " style="min-height:500px">
      <span class="login-container__title text-center mt-2 mb-4">{{title}}</span>
      <form class="ipt d-flex flex-column mt-3" [formGroup]="form" (ngSubmit)="login()">
    <!--    <div  *ngIf="authType == 'register'" class="form-login  mb-4 d-flex flex-column" [ngClass]="{'form-login--error': showError }">
          <label>Nombre</label>
          <input name="email" type="text" placeholder="Nombre" formControlName="username">
        </div>
       <div class="form-login  mb-4 d-flex flex-column" [ngClass]="{'form-login--error': showError }">
          <label>Correo</label>
          <input name="email" type="email" placeholder="example@email.com" [formControlName="email">
        </div>
        <div class="form-login d-flex mb-4 flex-column" [ngClass]="{'': showError }">
          <label>Contraseña</label>
          <input name="password" type="password" placeholder="Contraseña"  formControlName="password">
        </div>  -->
        <fieldset>
          <fieldset class="form-group">
            <input
              formControlName="username"
              placeholder="Nombre usuario"
              class="form-control form-control-lg"
              type="text"
              *ngIf="authType == 'register'" />
          </fieldset>
          <fieldset class="form-group">
            <input
              formControlName="email"
              placeholder="Email"
              class="form-control form-control-lg"
              type="text" />
          </fieldset>
          <fieldset class="form-group">
            <input
              formControlName="password"
              placeholder="Contraseña"
              class="form-control form-control-lg"
              type="password" />
          </fieldset>
        </fieldset>
        <span class="mesage-error" *ngIf="showError">{{showError}}</span> 
         <button class="login-btn hand mb-4" type="submit">{{authType == 'login'? 'Iniciar sesion': 'Registrar'}}</button> 
         <button class="login-btn hand mb-4"  [routerLink]="[authType=='login'? '/register': '/login']">{{authTitle}}</button> 
     <!--    <a href="{{urlLoginChaira}}" class="login-btn hand">
          <img class="" src="./assets/image.png" alt="">
         <span> Inicia sesión con Chairá</span>
        </a> -->
        <span class="eslogan">Fomentando el crecimiento y fortalecimiento de la programacion competitiva</span>
      </form>
    </div>
  </div>
</div>
<div class="my-container">
  <ng-template #customLoadingTemplate>
      <div class="custom-class">
          <h3>
              Loading...
          </h3>
          <button (click)="showAlert()">
              Click me!
          </button>
      </div>
  </ng-template>

  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>