<input type="text" [(ngModel)]="submission.test_stdin">
<select (change)="changeLanguage($event.target.value)">
  <option [value]="language.id" *ngFor="let language of languages">{{language.name}}</option>
</select>
<ngx-monaco-editor class="my-code-editor" [options]="editorOptions" [(ngModel)]="submission.source_code" (onInit)="ngEditInit($event)"></ngx-monaco-editor>
<button [disabled]="isSubmiting" (click)="sendSubmission('run')">Ejecutar</button>
<button [disabled]="isSubmiting" (click)="sendSubmission('send')">Enviar</button>
<div *ngIf="submission.response">
  <h3 *ngIf="submission.response.typeSend == 'send'">{{submission.response.status.description}}</h3>
  <div *ngIf="submission.response.typeSend == 'run'">
    <h4 *ngIf="!submission.response.messageErrorFinal">
        {{submission.response.stdout}}
      </h4>
    <h4 *ngIf="submission.response.messageErrorFinal">
        Error de compilación:
        {{submission.response.messageErrorFinal}}
      </h4>
  </div>
</div>
