<div class="page-evaluate ">
  <div class="jumbotron">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" style="margin: 0px;background-color: white; padding: 0">
        <li *ngIf="course" style="font-size: 1.5rem; " class="breadcrumb-item">
          <a style="color: #333;" [routerLink]="['/curso/home']">
            {{course.nombre}}
          </a>
        </li>
        <li *ngIf="marathon" style="font-size: 1.5rem; " class="breadcrumb-item"><a style="color: #333;" [routerLink]="['/competir/maraton', marathon.id]">{{marathon.nombre}}</a></li>
        <li *ngIf="lesson" style="font-size: 1.3rem; padding: 3px" class="breadcrumb-item active" aria-current="page">{{lesson.nombre}}</li>
      </ol>
    </nav>
  </div>

  <app-workspace *ngIf="lesson" [submission]="lesson.submission" [content-problem]="lesson.problema" (send-problem)="sendProblem($event)" [hide-code]="!register_marathon || marathon.estado == 'finalizado'"></app-workspace>
</div>
