<div class="page-list">
  <div class="jumbotron">
    <h1 class="title">Tenemos 4 Cursos para ti</h1>
    <p class="description">Inscritibe y certificate para que logres ser el mejor</p>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-7">
        <div class="card-columns">
          <section *ngFor="let course of courses">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-center">{{course.nombre}}</h5>
              </div>
              <ul class="list-group list-group-flush">
                <li (click)="redirectLesson(course, lesson)" class="list-group-item hand" *ngFor="let lesson of course.lecciones">{{lesson.nombre}}</li>
                <!-- EJEMPLO DE ITEM SELECCIONADO
                  <li [routerLink]="['/curso']" class="list-group-item check">Entradas</li>
                -->
              </ul>
            </div>
          </section>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-5">
          <div class="card col-8 offset-2">
              <div class="card-body text-center">
                <h5 class="card-title">Tu Progreso</h5>
                <img src="./assets/bici.png" width="160" alt="">
                <p class="card-text">Rueditas de bici</p>
                <div class="animated-background animated--title" style="width: auto; height: 15px; margin: 8px auto;"></div>
                <div class="animated-background animated--title" style="width: auto; height: 15px; margin: 8px auto;"></div>
                <div class="animated-background animated--title" style="width: auto; height: 15px; margin: 8px auto;"></div>
                <div class="animated-background animated--title" style="width: auto; height: 15px; margin: 8px auto;"></div>
                <div class="animated-background animated--title" style="width: auto; height: 15px; margin: 18px auto;"></div>
              </div>
            </div>
      </div>
    </div>
    <!--   <div class="course-list-view"   >
      <div class="course-section-container"  *ngFor="let number of [0,1,2]" >
          <div class="animated-background round-preloader" style="width: 150px; height: 150px; margin-bottom: 10px;"></div>
          <div class="animated-background animated--title" style="height: 42px; width:300px; margin-bottom: 8px;"></div>
          <div class="animated-background animated--title" style="width: 300px; height: 15px; margin-bottom: 8px;"></div>
          <div class="animated-background animated--title" style="width: 300px; height: 15px; margin-bottom: 8px;"></div>
          <div class="animated-background animated--title" style="width: 300px; height: 15px; margin-bottom: 8px;"></div>
          <div class="animated-background animated--title" style="width: 300px; height: 15px; margin-bottom: 8px;"></div>
          <div class="animated-background animated--title" style="width: 100px; height: 15px; margin-bottom: 18px;"></div>
          <div class="animated-background animated--title" style="width: 100px;height: 37px;margin-bottom: 8px;border-radius: 20px;float: right;margin-left: 60%;"></div>
      </div>
  </div> -->
  </div>
</div>
