<div class="page-home ">
    <div class="jumbotron">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="margin: 0px;background-color: white; padding: 0">
          <li style="font-size: 1.2rem; " class="breadcrumb-item"><a style="color: #333;" [routerLink]="['/']">Cursos</a></li>
          <li style="font-size: 1.2rem; " class="breadcrumb-item active" aria-current="page">J Entradas</li>
        </ol>
      </nav>
    </div>
    <div class="imagen">
      
    </div>
  </div>