<form class="ipt" [formGroup]="form" (ngSubmit)="action()">
  <span>Oculto: {{form.controls.oculta.value}}</span>
  <input type="text" placeholder="Nombre maratón" [formControl]="form.controls.nombre">
  <input type="text" placeholder="Descripción" [formControl]="form.controls.descripcion">
  <input type="date" placeholder="Fecha de inicio" [formControl]="form.controls.fecha_inicio">
  
  <button type="button" (click)="hideLesson()">{{(!form.controls.oculta.value? 'Ocultar': 'Difundir')}} lección</button>
  <br>
  <button type="button" [routerLink]="['/maratones', marathonId, 'leccion', 'new', 'admin']">Agregar lección</button>
  <div *ngFor="let lesson of marathon?.lecciones">
      <a [routerLink]="['/maratones', marathonId, 'leccion', lesson.id, 'admin']">{{lesson.nombre}}</a>
      <span>Oculta: {{lesson.oculta}}</span>
  </div>
</form>