@import "../../../node_modules/bootstrap/scss/bootstrap-grid.scss";

.page-home{
    background-color: #F3F7F7;
    min-height: calc(100% - 50px - .3rem);
  .jumbotron .title{
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
    color: #666;
  }
  .jumbotron .description{
    color: #9EACB4;
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
  }
  .jumbotron {
    padding: 1rem 2rem;
    background-color: #ffff;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.07);
  }

  .container-fluid{
    padding-left: 50px;
    padding-right: 50px;
  }
  .card{
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.1);
  }
  .card-title{
    color: #666;
    margin: 0px;
  }
  .card-subtitle{
    font-family: sans-serif;
    color: #666;
    font-weight: 100;
  }
  .card-btn{
    position: absolute;
    right: 25px;
    top: 2px;
    color: #666666;
    cursor: pointer;
  }
  .list-group-item{
    color: #686868;
  }
  .card-text{
    color: #9EACB4;
    font-family: sans-serif;
    font-weight: 100;
  }
  .round-preloader{
    border-radius: 100%!important;
    width: 50px;
    height: 50px;
}
.animated--title{
    height: 10px;
    width: 250px;
}
.animated--short-title{
    height: 10px;
    width: 80px;
}
.animated--description{
    height: 10px;
}
.animated--checkbox{
    height: 17px;
    width: 41px;
    border-radius: 34px!important;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
  .animated-background {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: #eeeeee;
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
    background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background: linear-gradient(to right, #E5E5E5 8%, #dee1e4bf 18%, #E5E5E5 38%);
    -webkit-background-size: 800px 104px;
    background-size: 800px 104px;
    height: 96px;
    position: relative;
  }
  @-webkit-keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0
    }
    100% {
      background-position: 468px 0
    }
  }
  
  @keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0
    }
    100% {
      background-position: 468px 0
    }
  }
  .form-check-input{
    margin-top: 2px;
  }
  .card--filter{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .filter{
    color:#C4C4C4;
    font-weight: 400;
    font-family: sans-serif;
    
  }
  .line{
    position: relative;
    margin-bottom: 20px;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      border-bottom: 1px solid #C4C4C4;
    }
  }
  .line-ver{
    position: relative;
    &::after {
     content: '';
     position: absolute;
     top: 0;
     right: -76px;
     width: 3px;
     height: 50%;
     border-right: 1px solid #C4C4C4;
    }
  }
}