<div class="page-home ">
  <div class="jumbotron">
    <h1 class="title">Tablero de competencias</h1>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-7 line-ver">
        <div class="line">
          <span class="filter">Todas las categorias</span>
        </div>
          <div class="card mb-3" >
            <div class="row card-body">
                <div class="col-2">
                    <div class="animated-background animated--title" style="width: 113px; height: 104px; margin: 8px auto;"></div>
                </div>
                <div class=" col-10">
                  <h5 class="card-title ">Maraton sprint 201w8-2</h5>
                  <span class="card-subtitle">22 de mayo 2018</span>
                  <a [routerLink]="['/competir/competenciaSebas']"  class="card-btn" >Inscribirse</a>
                  <div class="col-12" style="background-color: #F6F6F6; padding: 10px">
                      <div class="animated-background animated--title" style="width: 100%; height: 10px; margin: 4px auto;"></div>
                      <div class="animated-background animated--title" style="width: 100%; height: 10px; margin: 4px auto;"></div>
                      <div class="animated-background animated--title" style="width: 100%; height: 10px; margin: 4px auto;"></div>
                      <div class="animated-background animated--title" style="width: 100%; height: 10px; margin: 4px auto;"></div>
                  </div>
                </div>
            </div>
          </div>
          <div class="card mb-3" >
            <div class="row card-body">
                <div class="col-2">
                    <div class="animated-background animated--title" style="width: 113px; height: 104px; margin: 8px auto;"></div>
                </div>
                <div class=" col-10">
                  <h5 class="card-title ">Maraton sprint 2018-2</h5>
                  <span class="card-subtitle">22 de mayo 2018</span>
                  <a [routerLink]="['/20182']" class="card-btn" >Inscribirse</a>
                  <div class="col-12" style="background-color: #F6F6F6; padding: 10px">
                      <div class="animated-background animated--title" style="width: 100%; height: 10px; margin: 4px auto;"></div>
                      <div class="animated-background animated--title" style="width: 100%; height: 10px; margin: 4px auto;"></div>
                      <div class="animated-background animated--title" style="width: 100%; height: 10px; margin: 4px auto;"></div>
                      <div class="animated-background animated--title" style="width: 100%; height: 10px; margin: 4px auto;"></div>
                  </div>
                </div>
            </div>
          </div>
          <div class="card mb-3" >
            <div class="row card-body">
                <div class="col-2">
                    <div class="animated-background animated--title" style="width: 113px; height: 104px; margin: 8px auto;"></div>
                </div>
                <div class=" col-10">
                  <h5 class="card-title ">Maraton sprint 2018-2</h5>
                  <span class="card-subtitle">22 de mayo 2018</span>
                  <a [routerLink]="['/2018-2']" class="card-btn" >Inscribirse</a>
                  <div class="col-12" style="background-color: #F6F6F6; padding: 10px">
                      <div class="animated-background animated--title" style="width: 100%; height: 10px; margin: 4px auto;"></div>
                      <div class="animated-background animated--title" style="width: 100%; height: 10px; margin: 4px auto;"></div>
                      <div class="animated-background animated--title" style="width: 100%; height: 10px; margin: 4px auto;"></div>
                      <div class="animated-background animated--title" style="width: 100%; height: 10px; margin: 4px auto;"></div>
                  </div>
                </div>
            </div>
          </div>
          <div class="card mb-3" >
            <div class="row card-body">
                <div class="col-2">
                    <div class="animated-background animated--title" style="width: 113px; height: 104px; margin: 8px auto;"></div>
                </div>
                <div class=" col-10">
                  <h5 class="card-title ">Maraton sprint 2018-2</h5>
                  <span class="card-subtitle">22 de mayo 2018</span>
                  <a [routerLink]="['/2018-2']" class="card-btn" >Inscribirse</a>
                  <div class="col-12" style="background-color: #F6F6F6; padding: 10px">
                      <div class="animated-background animated--title" style="width: 100%; height: 10px; margin: 4px auto;"></div>
                      <div class="animated-background animated--title" style="width: 100%; height: 10px; margin: 4px auto;"></div>
                      <div class="animated-background animated--title" style="width: 100%; height: 10px; margin: 4px auto;"></div>
                      <div class="animated-background animated--title" style="width: 100%; height: 10px; margin: 4px auto;"></div>
                  </div>
                </div>
            </div>
          </div>
 
      </div>
      <div class="col-5 d-none d-lg-block">
          <div class="card card--filter col-6 offset-3">
              <div class="card-body text-center">
                <h5 class="card-title">Filtrar</h5>
              </div>
            </div>
            <div class="col-4 offset-4">
                <input type="checkbox" class="form-check-input" >
                <div class="animated-background animated--title" style="width: 100%; height: 20px; margin: 18px auto;"></div>
                <input type="checkbox" class="form-check-input" >
                <div class="animated-background animated--title" style="width: 100%; height: 20px; margin: 18px auto;"></div>
                <input type="checkbox" class="form-check-input" >
                <div class="animated-background animated--title" style="width: 100%; height: 20px; margin: 18px auto;"></div>
                <input type="checkbox" class="form-check-input" >
                <div class="animated-background animated--title" style="width: 100%; height: 20px; margin: 18px auto;"></div>
            </div>
      </div>
    </div>
  </div>
</div>