<div class="page-home ">
  <div class="jumbotron">
    <h1 class="title">Tenemos 4 Cursos para ti</h1>
    <p class="description">Inscritibe y certificate para que logres ser el mejor</p>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-7">
          <div class="card-columns">
              <div class="card " >
                <div class="card-body">
                  <h5 class="card-title text-center">Iniciando la programacion competitiva</h5>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item check">¿ Que es una maraton competitiva?</li>
                  <li class="list-group-item check">Lenguajes</li>
                  <li [routerLink]="['/curso']" class="list-group-item">Entradas</li>
                  <li class="list-group-item">Salidas</li>
                  <li class="list-group-item">Envios</li>
                </ul>
              </div>
              <div class="card " >
                <div class="card-body">
                  <h5 class="card-title text-center">Estructura de datos</h5>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>
              </div>
              <div class="card " >
                <div class="card-body">
                  <h5 class="card-title text-center">Optimizacion de algoritmos</h5>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>

              </div>
              <div class="card " >
                <div class="card-body">
                  <h5 class="card-title text-center">Matematicas competitivas</h5>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                </ul>
              </div>
            </div>
      </div>
      <div class="col-5 ">
          <div class="card col-8 offset-2">
              <div class="card-body text-center">
                <h5 class="card-title">Tu Progreso</h5>
                <img src="./assets/bici.png" width="160" alt="">
                <p class="card-text">Rueditas de bici</p>
                <div class="animated-background animated--title" style="width: 300px; height: 15px; margin: 8px auto;"></div>
                <div class="animated-background animated--title" style="width: 300px; height: 15px; margin: 8px auto;"></div>
                <div class="animated-background animated--title" style="width: 300px; height: 15px; margin: 8px auto;"></div>
                <div class="animated-background animated--title" style="width: 300px; height: 15px; margin: 8px auto;"></div>
                <div class="animated-background animated--title" style="width: 100px; height: 15px; margin: 18px auto;"></div>
              </div>
            </div>
      </div>
    </div>
<!--   <div class="course-list-view"   >
      <div class="course-section-container"  *ngFor="let number of [0,1,2]" >
        	<div class="animated-background round-preloader" style="width: 150px; height: 150px; margin-bottom: 10px;"></div>
          <div class="animated-background animated--title" style="height: 42px; width:300px; margin-bottom: 8px;"></div>
          <div class="animated-background animated--title" style="width: 300px; height: 15px; margin-bottom: 8px;"></div>
          <div class="animated-background animated--title" style="width: 300px; height: 15px; margin-bottom: 8px;"></div>
          <div class="animated-background animated--title" style="width: 300px; height: 15px; margin-bottom: 8px;"></div>
          <div class="animated-background animated--title" style="width: 300px; height: 15px; margin-bottom: 8px;"></div>
          <div class="animated-background animated--title" style="width: 100px; height: 15px; margin-bottom: 18px;"></div>
          <div class="animated-background animated--title" style="width: 100px;height: 37px;margin-bottom: 8px;border-radius: 20px;float: right;margin-left: 60%;"></div>
      </div>
  </div> -->
  </div>
</div>